[defaults]
inventory = ./scripts/inventory_from_tfvars.py
roles_path = ./roles
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
gathering = smart
nocows = 1
timeout = 60
pipelining = True

[ssh_connection]
retries = 8
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ServerAliveInterval=15 -o ServerAliveCountMax=12 -o ConnectTimeout=20 -o ConnectionAttempts=5 -o TCPKeepAlive=yes
control_path = %(directory)s/%%h-%%p-%%r

